.header {
  background-color: var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: var(--layer-3);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media (width <= 996px) {
  .header__wrapper {
    gap: 40px;
  }
}

@media (width <= 768px) {
  .header__wrapper {
    gap: 25px;
  }
}

.header__button {
  color: var(--main-color);
}

.header__icons {
  display: block;
  width: 50px;
  height: 50px;
  transition: color var(--transition-time);
}

.header__icon {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: currentColor;
}

@media (any-hover: hover) {
  .header__icons:hover {
    color: var(--spare-color);
  }
}

@media (width <= 996px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 80px 0;
    background-color: rgb(31, 25, 25);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-time);
  }

  .header__icons {
    width: 40px;
    height: 40px;
  }

  .header__menu--open {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
}

@media (width <= 768px) {
  .header__icons {
    width: 30px;
    height: 30px;
  }
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.938rem, -3.231rem + 6.7vw, 1.875rem);
}

@media (width <= 996px) {
  .header__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    padding: 0 15px;
    z-index: var(--layer-1);
  }
}

.header__link {
  font-family: var(--accent-family);
  color: var(--main-color);
  font-weight: 900;
  font-size: clamp(16px, 0.413rem + 0.94vw, 20px);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .header__link:hover {
    color: var(--spare-color);
  }
}

@media (width <= 578px) {
  .header__purchase {
    display: flex;
    align-items: flex-end;
  }

  .header__add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 12px;
    height: 13px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 9px;
    color: #000;
  }
}
