.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.slider__wrapper {
  overflow: hidden;
  width: 100%;
}

.slider__list {
  display: flex;
  transition: transform 0.5s;
  width: 100%;
}

.slider__page {
  flex: 0 0 100%;
  width: 100%;
}

.slider__controls {
  padding-top: 130px;
  display: flex;
  gap: 30px;
  color: var(--title-color);
}

@media (width <= 768px) {
  .slider__controls{
    padding-top: 40px;
    gap: 15px;
  }
}

.slider__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (width <= 768px) {
  .slider__buttons{
    gap: 10px;
  }
}

.slider__button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--title-color);
  border-radius: 3px;
  color: var(--title-color);
  transition: all var(--transition-time);
}

@media (width <= 768px) {
  .slider__button {
    width: 36px;
    height: 36px;
  }
}

.slider__button:disabled {
  cursor: not-allowed;
  color: var(--disabled-color);
}

.slider__button:disabled .slider__icon {
  fill: currentColor;
}

@media (any-hover: hover) {
  .slider__button:not(:disabled):hover {
    color: var(--spare-color);
    border-color: var(--spare-color);
  }
}

.slider-button--next {
  transform: rotate(180deg);
}

.slider__icon {
  fill: currentColor;
}

@media (width <= 768px) {
  .slider__icon {
    width: 23px;
    height: 24px;
  }
}

@media (any-hover: hover) {
  .slider__icon:hover {
    fill: currentColor;
  }
}

.slider__counter {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 400;
  font-size: 24px;
}

@media (width <= 768px) {
  .slider__counter{
    font-size: 16px;
  }
}