.contact {
  background-color: var(--bg-colors-2);
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 136px;
}

@media (width <= 992px) {
  .contact__container {
    gap: 20px;
  }
}

@media (width <= 578px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 46px;
  }
}

.contact__title {
  padding-bottom: 50px;
}

@media (width <= 768px) {
  .contact__title {
    padding-bottom: 20px;
  }
}

.contact__label {
  display: block;
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.contact__form:first-child .contact__label:nth-of-type(2) {
  margin-bottom: 70px;
}

.contact__form:last-child .contact__label {
  margin-bottom: 70px;
}

@media (width <= 768px) {
  .contact__form:first-child .contact__label:nth-of-type(2) {
    margin-bottom: 40px;
  }

  .contact__form:last-child .contact__label {
    margin-bottom: 40px;
  }
}

.contact__input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.contact__input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--disabled-color);
}

.contact__button {
  padding-bottom: 35px;
}

@media (width <= 768px) {
  .contact__button {
    padding-bottom: 27px;
  }
}

@media (width <= 578px) {
  .contact__button {
    padding-bottom: 16px;
  }
}

.contact__btn {
  padding: 15px 45px;
  background-color: var(--title-color);
  border-radius: 3px;
  color: var(--main-color);
  font-weight: 400;
  font-size: 24px;
  transition: background-color var(--transition-time);
}

@media (width <= 768px) {
  .contact__btn {
    padding: 7px 25px;
    font-size: 16px;
  }
}

@media (any-hover: hover) {
  .contact__btn:hover {
    background-color: var(--disabled-color);
  }

  .contact__btn:active{
    background-color: var(--spare-color);
  }
}


.contact__agreement {
  display: flex;
  gap: 16px;
}

@media (width <= 768px) {
  .contact__agreement {
    gap: 10px;
  }
}

.contact__checkbox-wrapper {
  position: relative;
  flex-shrink: 0;
}

.contact__checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: pointer;
}

@media (width <= 768px) {
  .contact__checkbox {
    width: 19px;
    height: 19px;
  }
}

.contact__checkbox-wrapper::after {
  content: url("../../icons/cheked.svg");
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

@media (width <= 768px) {
  .contact__checkbox-wrapper::after {
    width: 11px;
    height: 11px;
    top: 0;
    transform: translate(-45%, -10%);
  }
}

.contact__checkbox-wrapper:has(.contact__checkbox:checked)::after {
  transition: all var(--transition-time);
  opacity: 1;
}

.contact__checkbox-text {
  font-family: var(--font-family);
  color: var(--title-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

@media (width <= 768px) {
  .contact__checkbox-text {
    font-size: 10px;
  }
}
