@font-face {
  font-family: "FONTSPRINGDEMO";
  src:
    url("../../fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2")
      format("woff2"),
    url("../../fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Integral CF";
  src:
    url("../../fonts/IntegralCF-Heavy.woff2") format("woff2"),
    url("../../fonts/IntegralCF-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("../../fonts/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("../../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../../fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("../../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../../fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
