.page {
  font-family: var(--main-family);
  font-weight: 400;
  color: var(--black-color);
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
  /* scrollbar-gutter: stable; */
}

.page__body {
  min-width: 375px;
  /* background-color: var(--bg-color); */
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

img {
  object-fit: cover;
}

a:focus-visible,
button:focus-visible,
input:focus {
  outline: 2px solid var(--spare-color);
  outline-offset: 2px;
}

.text-regular,
.text-light {
  line-height: 140%;
  color: var(--title-color);
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.title-xs,
.title-sm,
.title-md {
  color: var(--title-color);
}

.title-md {
  /* min-width 375, max-width 1420 */
  font-size: clamp(36px, 0.757rem + 2.11vw, 42px);
}

.title-sm {
  /* min-width 375px, max-width 1420 */
  font-size: clamp(20px, 0.85rem + 2vw, 42px);
  font-weight: 900;
  font-family: var(--accent-family);
}

.title-xs {
  /* min-width 375px, max-width 1200 */
  font-size: clamp(0.75rem, 0.643rem + 0.54vw, 1.125rem);
}

.section {
  margin-bottom: 150px;
}

@media (width > 576px) {
  .section {
    margin-bottom: 60px;
  }

  .section-title {
    margin-bottom: 40px;
  }
}

@media (width <= 576px) {
  .section {
    margin-bottom: 30px;
  }

  .section-title {
    margin-bottom: 30px;
  }
}

.accent-title {
  color: var(--spare-color);
}

.fslightbox-source {
  max-width: 90vw;
  max-height: 90vh;
}


.more__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 15px 39px 15px 49px;
  border: 1px solid var(--title-color);
  border-radius: 3px;

  width: fit-content;
  margin: 0 auto;

  font-weight: 400;
  font-size: 24px;
  color: var(--title-color);
}

@media (width <= 768px) {
  .more__btn{
    padding: 7px 25px;
    font-size: 16px;
  }
}

@media (any-hover: hover) {
  .more__btn:hover {
    color: var(--spare-color);
    border-color: var(--spare-color);
  }
}

.more__svg{
  width: 30px;
  height: 30px;
}

@media (width <= 768px) {
  .more__svg{
    width: 24px;
    height: 24px;
  }
}

.more__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}


