.page {
  font-family: var(--main-family);
  font-weight: 400;
  color: var(--black-color);
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
  /* scrollbar-gutter: stable; */
}

/* * {
  outline: 1px solid red;
} */

.page__body {
  min-width: 375px;
  /* background-color: var(--bg-color); */
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

img {
  object-fit: cover;
}

a:focus-visible,
button:focus-visible,
input:focus {
  outline: 2px solid var(--spare-color);
  outline-offset: 2px;
}

.text-regular,
.text-light {
  line-height: 140%;
  color: var(--title-color);
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.title-xs,
.title-sm,
.title-md {
  color: var(--title-color);
}

.title-md {
  /* min-width 375, max-width 1420 */
  font-size: clamp(36px, 0.757rem + 2.11vw, 42px);
}

.title-sm {
  /* min-width 375px, max-width 1420 */
  font-size: clamp(20px, 1.5vw + 12px, 42px);
  font-weight: 900;
  font-family: var(--accent-family);
}

.title-xs {
  /* min-width 375px, max-width 1200 */
  font-size: clamp(0.75rem, 0.643rem + 0.54vw, 1.125rem);
}

.section {
  padding-block: 150px;
}

@media (width <= 768px) {
  .section {
    padding-block: 60px;
  }
}

@media (width <= 578px) {
  .section {
    padding-block: 40px;
  }
}

@media (width > 576px) {
  .section-title {
    margin-bottom: 40px;
  }
}

@media (width <= 576px) {
  .section-title {
    margin-bottom: 30px;
  }
}

.accent-title {
  color: var(--spare-color);
}

.fslightbox-source {
  max-width: 90vw;
  max-height: 90vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-colors-2) inset;
  -webkit-text-fill-color: #000;
}
