:root {
  /* font-family */
  --main-family: "Open Sans", sans-serif;
  --accent-family: "NAMU", sans-serif;

  /* colors */
  --main-color: #fff;
  --accent-color: #000;
  --spare-color: #c5358c;
  --bg-colors-1: #ddd;
  --bg-colors-2: #f8f8f8;
  --bg-colors-3: #fdfdfd;
  --border-color: #ccc;
  --title-color: #111;
  --availability-color: #68ae5c;
  --disabled-color: #ababab;
  --date-color: #909090;
  --shadow-box:
    0 4px 41px 0 rgba(0, 0, 0, 0.05), 0 4px 41px 0 rgba(0, 0, 0, 0.05);
  --shadow-box-2: 0 4px 41px 0 rgba(0, 0, 0, 0.05);

  /* container */
  --container-width: 1420px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
