.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__header {
  display: grid;
  grid-template-columns: 161px minmax(0, 1fr) auto;
  gap: 70px;
  border-bottom: 1px solid var(--disabled-color);
  padding-bottom: 50px;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  padding-bottom: 20px;
}

.about__rating {
  font-weight: 500;
  font-size: 30px;
  color: var(--title-color);
}

@media (width <= 768px) {
  .about__rating {
    font-size: 16px;
  }
}

.about__rating-value {
  font-weight: 400;
  font-size: 20px;
}

@media (width <= 768px) {
  .about__rating-value {
    font-size: 12px;
  }
}

.about__stars {
  width: 161px;
  height: 30px;
}

@media (width <= 768px) {
  .about__stars {
    width: 60px;
    height: 11px;
  }
}

.about__btn {
  border: 1px solid var(--title-color);
  border-radius: 3px;
  padding: 15px 41px;
  align-self: flex-end;

  width: fit-content;
  font-weight: 400;
  font-size: 24px;
  color: var(--title-color);
  transition: all var(--transition-time);
}

@media (width <= 768px) {
  .about__btn {
    font-size: 16px;
    padding: 7px 37px;
  }
}

@media (any-hover: hover) {
  .about__btn:hover {
    background-color: var(--spare-color);
    color: var(--main-color);
    border-color: var(--spare-color);
  }
}

.about__list {
  color: var(--title-color);
  padding-bottom: 80px;
}

@media (width <= 768px) {
  .about__list {
    padding-bottom: 40px;
  }
}

.about__item {
  display: grid;
  grid-template-columns: 161px minmax(0, 1fr) auto;
  gap: 70px;
  padding-block: 40px;

  border-bottom: 1px solid var(--disabled-color);
}

@media (width <= 768px) {
  .about__item{
    padding-block: 20px;
  }
}

.about__author {
  display: inline-flex;
  flex-direction: column;
}

.about__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

@media (width <= 768px) {
  .about__name {
    font-size: 14px;
  }
}

.about__content-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 10px;
}

@media (width <= 768px) {
  .about__content-title {
    font-size: 14px;
    padding-bottom: 6px;
  }
}

.about__content-desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  padding-bottom: 30px;
}

@media (width <= 768px) {
  .about__content-desc {
    font-size: 12px;
    padding-bottom: 20px;
  }
}

.about__content-images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.about__img {
  width: 95px;
  height: 95px;
  border-radius: 3px;
}

@media (width <= 768px) {
  .about__img {
    width: 61px;
    height: 61px;
    border-radius: 1px;
  }
}

.about__lightbox--new {
  opacity: 0;
  transform: translateY(-10px);
  animation: photo-show 0.4s ease forwards;
}

@keyframes photo-show {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about__img {
  cursor: pointer;
}

.about__photos-link {
  font-weight: 400;
  font-size: 18px;
  color: var(--spare-color);
  border-bottom: 1px solid var(--spare-color);
  transition: all var(--transition-time);
}

@media (width <= 768px) {
  .about__photos-link{
    font-size: 12px;
  }
}

@media (any-hover: hover) {
  .about__photos-link:hover {
    color: var(--title-color);
    border-color: var(--title-color);
  }
}

.about__date {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: var(--date-color);

  align-self: start;
  justify-self: end;
}

@media (width <= 768px) {
  .about__date{
    font-size: 12px;
  }
}
