.advantage__title {
  font-weight: 900;
  font-size: 42px;
  font-family: var(--accent-family);
  color: var(--title-color);
  padding-bottom: 60px;
}

@media (width <= 992px) {
  .advantage__title {
    font-size: 26px;
    padding-bottom: 40px;
  }
}

@media (width <= 992px) {
  .advantage__title {
    font-size: 20px;
    padding-bottom: 30px;
  }
}


.advantage__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.advantage__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-box-2);
  padding: 41px 0 46px;
  min-width: 440px;
  height: 294px;
}

@media (width <= 992px) {
  .advantage__card {
    min-width: 304px;
    height: 190px;
    padding: 18px 0 30px;
  }
}

@media (width <= 578px) {
  .advantage__card {
    flex-direction: row;
    gap: 43px;
    align-items: center;
    width: 100%;
    height: 116px;
    padding: 30px 17px 30px 33px;
  }
}

.advantage__card-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  flex-shrink: 0;
}

@media (width <= 992px) {
  .advantage__card-svg {
    width: 74px;
    height: 74px;
  }
}

.advantage__card-icon {
  color: var(--spare-color);
  fill: currentColor;
  stroke: currentColor;
}

.advantage__card-content {
  flex: 1;
}

.advantage__card-title {
  margin: 15px 0 13px;
  font-weight: 900;
  font-size: 20px;
  font-family: var(--accent-family);
  text-align: center;
}

@media (width <= 992px) {
  .advantage__card-title {
    font-size: 14px;
  }
}

@media (width <= 578px) {
  .advantage__card-title {
    font-size: 13px;
    text-align-last: left;
  }
}

.advantage__card-desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  max-width: 320px;
}

@media (width <= 992px) {
  .advantage__card-desc {
    font-size: 12px;
  }
}

@media (width <= 578px) {
  .advantage__card-desc {
    font-size: 12px;
    text-align: left;
  }
}
