.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 24px;
  gap: clamp(20px, 0.695rem + 2.37vw, 40px);
}

@media (width <= 996px) {
  .header__container {
    gap: 20px;
  }
}

.header-icon {
  fill: currentColor;
}

@media (any-hover: hover) {
  .header__menu-icon {
    opacity: 0.8;
  }
}

.header__user-actions {
  display: flex;
  gap: 14px;
}

@media (width > 578px) {
  .header__visible{
    display: none;
  }
}

.header__user-button {
  transition: opacity var(--transition-time);
}

@media (any-hover: hover) {
  .header__user-button:hover {
    opacity: 0.7;
  }
}
