.hero {
  background-color: var(--bg-colors-1);
}

.hero__container {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 250px;
  overflow: hidden;
}

@media (width <= 768px) {
  .hero__container {
    padding-top: 80px;
  }
}

.hero__info {
  flex: 0 1 500px;
  padding-bottom: 245px;
  min-width: 0;
  max-width: 520px;
  z-index: 2;
}

@media (width <= 992px) {
  .hero__info {
    padding-bottom: 121px;
  }
}

.hero__title {
  font-family: var(--accent-family);
  font-weight: 900;
  font-size: 46px;
  line-height: 103%;
  color: var(--title-color);
  width: 556px;
}

@media (width <= 768px) {
  .hero__title {
    font-size: 30px;
    line-height: 100%;
    width: 363px;
  }
}

@media (width <= 576px) {
  .hero__title {
    font-size: 24px;
    width: 290px;
  }
}

.hero__description {
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  padding-top: 40px;
  color: var(--title-color);
  width: 554px;
}

@media (width <= 768px) {
  .hero__description {
    font-size: 12px;
    padding-top: 20px;
    width: 253px;
  }
}

@media (width <= 578px) {
  .hero__description {
    width: 170px;
  }
}

.hero__btn {
  display: inline-block;
  margin-top: 90px;
  border-radius: 3px;
  padding: 15px 50px;
  background-color: var(--spare-color);
  color: var(--main-color);
  font-size: 24px;
  transition: background var(--transition-time);
}

@media (width <= 768px) {
  .hero__btn {
    margin-top: 47px;
    padding: 7px 26px;
    font-size: 16px;
  }
}

@media (any-hover: hover) {
  .hero__btn:hover {
    background-color: var(--accent-color);
  }
}

.hero__img {
  position: absolute;
  right: 0;
  bottom: 0;
  /* min-width 390px max-width 1420px */
  width: clamp(280px, 7.655rem + 40.39vw, 696px);
  height: auto;
}

@media (width <= 768px) {
  .hero__img {
    max-width: 337px;
  }
}

@media (width <= 578px) {
  .hero__img {
    max-width: 280px;
  }
}
