.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__form {
  width: 100%;
  color: var(--disabled-color);
}

@media (width <= 578px) {
  .search__form {
    display: none;
  }
}

@media (width > 578px) {
  .search__icon {
    background: url(../../icons/search.svg) no-repeat;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 16px center;
    background-color: var(--bg-colors-2);
    padding: 13px 13px 13px 52px;
    /* min-width: 462px; */
    min-width: clamp(3.125rem, -8.303rem + 48.76vw, 28.875rem);
    width: 100%;
    border-radius: 62px;
    border: none;
  }
}

.search__icon::placeholder {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--main-family);
  opacity: 0.4;
}
