@media (width > 992px) {
  .titles {
    display: none;
  }
}

@media (width <= 992px) {
  .titles {
    background-color: var(--bg-colors-2);
    padding-block: 60px 70px;
    color: var(--title-color);
  }

  .titles__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .titles__title {
    font-family: var(--accent-family);
    font-weight: 900;
  }

  .titles__h2 {
    font-size: 26px;
    padding-bottom: 20px;
  }

  .titles__h3 {
    font-size: 22px;
    padding-bottom: 16px;
  }

  .titles__h4 {
    font-size: 20px;
    padding-bottom: 14px;
  }

  .titles__h5 {
    font-size: 16px;
    padding-bottom: 12px;
  }

  .titles__h6 {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .titles__desc {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
  }
}

@media (width <= 578px) {
  .titles {
    padding-block: 45px;
  }

  .titles__h2 {
    font-size: 20px;
    padding-bottom: 14px;
  }

  .titles__h3 {
    font-size: 17px;
    padding-bottom: 12px;
  }

  .titles__h4 {
    font-size: 16px;
  }

  .titles__h5 {
    font-size: 15px;
  }

  .titles__h4,
  .titles__h5 {
    padding-bottom: 10px;
  }

  .titles__h6 {
    font-size: 13px;
    padding-bottom: 8px;
  }
}
